.glassy {
  background-color: transparent;
  backdrop-filter: blur(5px);
  @extend .shadow;

  &.list-group {
    @extend .rounded;
  }
}

@each $key, $color in $theme-colors {
  .glassy-#{$key} {
    @extend .glassy;
    color: color-yiq($color);
    background-color: rgba(darken($color, 10%), 0.5);

    table {
      color: color-yiq($color);
      background-color: transparent;
    }

    &.btn {
      &:hover, &:active {
        color: color-yiq($color);

        &:not(:disabled) {
          background-color: rgba(lighten($color, 10%), 0.5);
        }
      }
    }

    .list-group-item {
      background-color: transparent;
    }
  }
}
