.segment {
  position: relative;

  &.playing {
    text-shadow: (0 0 2px rgba(orange, 0.8));
    filter: drop-shadow(0 0 10px white);
  }

  .badge {
    text-transform: uppercase;
  }

  &.speaker-a {
    .glassy {
      @extend .glassy-info;
    }
    .badge {
      @extend .badge-info;
    }
  }

  &.speaker-b {
    .glassy {
      @extend .glassy-danger;
    }
    .badge {
      @extend .badge-danger;
    }
  }
}
